body {
  background: #00001a;
  color: #bac1b8;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.input-box {
  background-color: #00001a !important; /* !important to override Bootstrap if needed */
  color: #2274A5 !important; /* !important to override Bootstrap if needed */
}

.input-box::placeholder {
  color: #9055A2 !important;
  opacity: 0.6;
}

.movie-list-tile{
  width: 170px !important;
  height: 250px !important;
}

.movie-list{
  margin: 30px 100px 0 100px
}


.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: #00001a;
  width: 100%;
  opacity: 0;
  bottom: 0;
  padding: 8px;
  text-align: center;
}

.btn-outline-primary {
  border-color: #00001a !important; /* !important to override Bootstrap if needed */
  color: #2274A5 !important; /* !important to override Bootstrap if needed */
  background-color: transparent;
  height: 36px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}

.btn-outline-secondary {
  border-color: #ff785a !important; /* !important to override Bootstrap if needed */
  background-color: transparent;
  color: #ff785a !important; /* !important to override Bootstrap if needed */
  height: 36px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}

.btn-outline-primary:hover {
  background-color: #00004d !important;
}

.modal-content{
  background: #3d3d5c;
}

.btn-primary {
  border-color: #00001a !important; /* !important to override Bootstrap if needed */
  background-color: #2274A5 !important;
  height: 36px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  :hover {
    opacity: 0.6;
  }
}

.btn-primary:hover {
  background-color: #164b6a !important;
}

.btn-secondary {
  border-color: #00001a !important; /* !important to override Bootstrap if needed */
  background-color: #ff785a !important;
  height: 36px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}

.btn-secondary:hover {
  background-color: #991c00 !important;
}

.register-input {
  background-color: #3d3d5c !important;
  color: #bac1b8 !important;
}

.register-input::placeholder{
  color: #bac1b8 !important;
  opacity: 0.35;
}

